.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SlideBlock {
  width: 300px;
  height: 300px;
  display: inline-block;
  transform: translate(0px, -300px);
  background-color: #794f45;
  transition: all 0.8s ease 0s;
  text-align: center;
}

.SlideBlock img {
  width: 200px;
}

.SlideBlock:hover {
  transform: translate(0px, 0px);
}

.SlideBlock:focus {
  transform: translate(0px, 0px);
}